<!doctype html>
<html>
   <head>
      <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
      <link href="/resources/CSS/EstiloPaginaListado.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
			crossorigin="anonymous">
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
			  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
			  crossorigin="anonymous"></script>
	   
	<link rel="icon" type="image/png" href="/resources/Imagenes/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/resources/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/resources/fonts/iconic/css/material-design-iconic-font.min.css">
	<script src="/resources/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/resources/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <title>LucaTinder</title>
	  <link rel="shortcut icon" href="/resources/Imagenes/favicon.ico" />
   </head>
   <body>
      <header class="header">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a style="user-select: none" href="/"><img class="tlogo" src="/resources/Imagenes/Logo-LucaTinderBN.webp" alt="Tinder Logo" title="Inicio"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto"></ul>
               <ul class="nav-item dropdown">
                  <a style="user-select: none;" href="/descartados"><button class="btn hover">Descartados</button></a>
                  <a style="user-select: none;" href="/matches"><button class="btn hover">Matches</button></a>
               </ul>
            </div>
         </nav>
		 
		 <br><h1>Perfiles recomendados para ti</h1><br>
		  
		 <div style="overflow-x:auto; text-align:center;">
		  	 <table>
				<tr class="titulo">
					<!-- <th>Foto</th> -->
					<th>Nombre</th>
					<th>Edad</th>
					<th>Genero</th>
					<th>Descripción</th>
					<th>Match</th>
				</tr>
				<tr th:each="perfil, status : ${listadoPerfiles}" class="contenido">
					<!-- <td th:text="${perfil.foto}" style="color: black;"/> -->
					<td th:text="${perfil.nombre}" style="color: black; width: 30px; max-width: 30px;" />
					<td th:text="${perfil.edad}" style="color: black; width: 30px; max-width: 30px;" />
					<td th:text="${perfil.genero}" style="color: black; width: 50px; max-width: 50px;" />
					<td th:text="${perfil.descripcion}" style="color: black; width: 300px; max-width: 300px;" />
					<td class="botones" style="color: black; width: 80px; max-width: 80px;" >
						<a class="like" style="outline:none" th:href="@{/listado/contactos/{idContacto} (idContacto=${perfil.id}) }"><i class="fa fa-heart" aria-hidden="true" ></i></a>
						<a class="dislike"  style="outline:none" th:href="@{/listado/descartes/{idContacto} (idContacto=${perfil.id}) }"><i class="fa fa-times" aria-hidden="true"></i></a>
					</td>
				</tr>
			</table>
		</div>
		  
	  </header>
	   
   </body>
</html>